.task-input {
  width: 80%;
  min-height: 300px;
}

.task-input header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 400px;
  min-width: 640px;
  max-width: 1000px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.3);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 20px;
}

header h1 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}